@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
@import "../../styles/animations.scss";

.projectContainer {
  grid-column: 2/-1;
  grid-row: 1/-1;
  padding: 2.5rem 8vw;
  transition: transform $speed-2, opacity $speed-2 $speed-2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.isVisible {
  transform-origin: left;
  transform: translateX(0%);
  visibility: visible;
  opacity: 1;
  z-index: 10;
  transition: transform $speed-2, opacity $speed-2 $speed-2;
  @include respond("lg") {
    transform: translateX(0%);
    transition: opacity $speed-1 $speed-2;
  }
}
.isHidden {
  transform-origin: left;
  transform: translateX(100%);
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  @include respond("lg") {
    transform: translateX(0%);
    transition: opacity $speed-1;
  }
}

.projectImage {
  margin-bottom: 5rem;
  transition: all $speed-2;
  align-self: center;
  width: 100%;
  max-width: 60rem;
  border-radius: 0.8rem;
  border: 1.5rem solid $color-black;
  box-shadow: 1.5rem 1.5rem 2.5rem rgba($color-black, 0.8);
  @include respond("lg") {
    margin-bottom: 4rem;
  }
}
.titleDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projectTitle {
  font-size: 5.2rem;
  font-weight: 200;
  text-align: center;
  color: $color-black;
  z-index: 10;
  /* @include respond("md") {
    font-size: 6rem;
  }*/
}

.iconDiv {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  /*@include respond("lg") {
    padding: 4rem;
  }*/
}
.icon {
  height: 40px;
  padding: 0 1rem;
  filter: grayscale(95%) brightness(70%);
  transition: filter $speed-2;
  &:hover {
    filter: grayscale(0%);
  }
  /*@include respond("lg") {
    height: 60px;
  }*/
}
.projectText {
  color: $color-black;
  font-size: 2.1rem;
  font-weight: 400;

  margin-bottom: 4rem;
  z-index: 9;
}
.buttonDiv {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  font-size: 2.4rem;
  z-index: 10;

  button {
    background: $color-black;
    border-radius: 0.4rem;
    padding: 0.8vh 5rem;
    font-weight: 300;
    color: $color-white;
    border: 0px solid black;
    outline: none;
    transition: all $speed-1;
    box-shadow: 0.5rem 0.5rem 1.5rem rgba($color-black, 0.5);

    &:hover {
      background: $color-red;
      color: $color-white;
    }
  }
}
