@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
.container {
  @include container;
  grid-template-columns: [lg-start]5vw[lg-end main-start] 1fr[main-end rg-start] 5vw[rg-end];
  grid-template-rows: [top-start nav-start ]9em[top-end main-start] 1.2fr [half]0.8fr[main-end bottom-start] 5vw[bottom-end];
  min-height: 100vh;
  background-color: $color-white;
  transition: background-color $speed-2;
}
.barContainer {
  grid-column: main-start/main-end;
  grid-row: half/main-end;
  width: 13vh;
  height: 100%;
  justify-self: flex-end;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
}
.mainText {
  grid-column: lg-start/main-end;
  grid-row: main-start/half;
  padding: 20vh 10vh 0vh 5vh;
  color: $color-white;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $color-black;
  transition: opacity 0.3s 0.15s;
  z-index: 10;
  @include respond("tn") {
    font-size: 1.9rem;
  }
  @include respond("xs") {
    margin-bottom: 7rem;
    font-size: 2.4rem;
  }
  @include respond("sm") {
    font-size: 3.2rem;
  }
  @include respond("lg") {
    font-size: 6rem;
    line-height: 8.5rem;
  }
}
.backGround {
  width: 100%;
  height: 100%;
  transition: transform $speed-2;
}

.bgTop {
  @extend .backGround;
  grid-column: 1/-1;
  grid-row: top-start/bottom-start;
  align-self: flex-start;
  transform-origin: top;
}
.bgBottom {
  @extend .backGround;
  grid-column: 1/-1;
  grid-row: top-start/bottom-end;
  align-self: flex-end;
  transform-origin: bottom;
}

.bgHidden {
  visibility: none;
  opacity: 0;
  z-index: 0;
}
.bgVisible {
  visibility: visible;
  opacity: 1;
  z-index: 0;
}

.bgBlack {
  background: $color-black;
}

.bgWhite {
  background: $color-white;
}

.isVisible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s;
  transition-delay: 0.3s;
}
.isHidden {
  opacity: 0;
  visibility: hidden;
  transition: none;
}
