@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
@import "../../styles/animations.scss";
@import "../../styles/typography.scss";
.container {
  @include container;
  position: relative;
  grid-template-columns: 32% 68%;
  grid-template-rows: repeat(4, 1fr);
  background: $color-white;
  min-height: 100vh;
  z-index: 0;
}

.sidebar {
  position: relative;
  grid-column: 1/2;
  grid-row: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  padding: 4rem 0;
  background-color: $color-black;
  z-index: 10;
  ul {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    z-index: 10;
  }
}
.header {
  font-size: 6rem;
  color: $color-white;
  text-transform: uppercase;
  text-align: center;
  transition: all $speed-2;
  z-index: 10;

  cursor: pointer;
  &:hover {
    color: $color-red-hover;
  }
  &:focus {
    color: $color-red;
  }
}
.animatedRects {
  position: relative;
  display: flex;
  flex: 1;
  align-content: center;
  justify-content: center;
}
.listItem {
  @include header-2-caps;
  color: $color-independence;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  transition: all $speed-1;
  cursor: pointer;
}
.listItemHover {
  color: $color-white;
}
.mainText {
  grid-column: 2/3;
  grid-row: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 4rem 20%;
  background-color: $color-black;
  transition: opacity $speed-2 $speed-2;

  z-index: 10;
  p {
    @include text-caps;
    text-align: center;
    color: $color-white;
  }
  a {
    @include text-caps;
    color: $color-red;
  }
}
.textWhite {
  color: $color-white;
}
.textRed {
  color: $color-red;
}
.isVisible {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}
.isHidden {
  visibility: hidden;
  opacity: 0;
  z-index: 0;
}
