$color-blue: #2b59c3ff;
$color-pink: #ef476fff;
$color-yellow: #f8d54a;
$color-red: #ff595a;
$color-white: #fffcf9ff;
$color-black: #272932;
$color-grey: #f3f7f0;
$color-grey-2: #605f5e;
$red-crayola: #e84855ff;

$orange-web: #f49f0aff;
$cyan-process: #01baefff;
$red-munsell: #ec0b43ff;
$mango: #ffbe0bff;
$color-blue-2: #0a2463;
$color-blue-3: #120136;
$color-white-2: #fffcf9ff;
//$color-black: #272932;
//JURI'S PALETTE
$color-eggshell: #f4f1de;
$color-gold: #f3c57cff;
$color-verdigris: #52b2b1ff;
$color-independence: #3d405bff;
$almond: #f0dccaff;
$orange-red-crayola: #ff595aff;

$speed-1: 0.15s;
$speed-2: 0.3s;
