@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
.container {
  @include container;
  grid-template-columns: 3vw[ main-start] 1fr[main-end ] 3vw;
  @include respond("tn") {
    grid-template-columns: 6vw[ main-start] 1fr[main-end ] 6vw;
  }
  @include respond("xs") {
    grid-template-columns: 8vw[ main-start] 1fr[main-end ] 8vw;
  }
  @include respond("sm") {
    grid-template-columns: 12vw[ main-start] 1fr[main-end ] 12vw;
  }
  @include respond("md") {
    grid-template-columns: 20vw[ main-start] 1fr[main-end ] 20vw;
  }
  min-height: 15vh;
  background-color: $color-black;
}
.footer {
  grid-column: main-start/main-end;
  height: 100%;
}
.list {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  a {
    font-size: 2.4rem;
    color: $color-white;
    transition: all $speed-1;
    cursor: pointer;
    &:hover {
      color: $color-red;
    }
    @include respond("tn") {
      font-size: 3rem;
    }
    @include respond("sm") {
      font-size: 4rem;
    }
  }
}
